.App {
  /* text-align: center; */
}

#main-landing-section {
  height: 70vh;
  background-image: url("https://image.tmdb.org/t/p/original/srYya1ZlI97Au4jUYAktDe3avyA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
  margin-bottom: 10px;
}

#footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: red;
  color: white;
  text-align: center;
}

.popular-img {
  /* max-width:300px; */
  object-fit: cover;
  max-height:300px;
  width: 100%;
  height: auto;
}

.search-img {
  max-height: 200px;
  height: 175px;
  width: auto;
  margin-right: 10px;
}